﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>@ViewData["Title"]</title>
    <link href="/lib/bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>CRUD MVC ASP.Net Core 2.1</h1>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>