﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Aplicacion de Ingresos Gastos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <a href="@Url.Action("Index", "IngresosGastosIberoCRCs")" class=" btn btn-block alert-link ">Menu de Ingresos Gastos</a>

</div>
