<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org"> 
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="saludos"> </p>
    </body>
</html>
