﻿@model IEnumerable<IngresosGastos.Models.IngresosGastosIberoCRC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CRUD</h2>

<p>
    <a href="@Url.Action("Create", "IngresosGastosIberoCRCs")" class="btn btn-dark alert-info" >Create new</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @if(item.EsIngreso == true)
                {
                <p class="text-primary"> Ingreso </p>
                }
                else
                {
                <p class="text-danger"> Gasto </p>
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class="btn btn-success"}) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new {@class="btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>

<div class="from-grup row">
    <div class="col-sm-1">
        <label class=" col-form-label text-primary">Total de ingresos</label>
    </div>
    <div class="col-sm-2 text-lg-center ">
        <label class=" col-form-label ">@ViewBag.Ingresos</label>
    </div>
</div>

<div class="from-grup row">
    <div class="col-sm-1">
        <label class=" col-form-label text-primary">Total de gastos</label>
    </div>
    <div class="col-sm-2 text-lg-center ">
        <label class=" col-form-label ">@ViewBag.Gastos</label>
    </div>
</div>

<div class="from-grup row">
    <div class="col-sm-1">
        <label class=" col-form-label text-primary">Total neto</label>
    </div>
    <div class="col-sm-2 text-lg-center ">
        <label class=" col-form-label ">@ViewBag.neto</label>
    </div>
</div>